<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Sai Prudhvi Kumar Gummadi</h3>
        <h4>By following the tutorials on pluralsight website</h4>
      </div>

      <div class="text-center">@saiprudhvikumargummadi</div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/sai-prudhvi-kumar-gummadi-0870b1140/">Linkedin Profile</a>
      </div>
    </div>
  </div>
</div>